@import "~normalize-scss/sass/normalize/import-now";
@import "colors";
@import "fonts";

h1, h2, h3 { 
  font-weight: 900;
}
a {
  color: inherit;
}

.body {
  font-family: $font-serif, Helvetica;
  p {
    line-height: 1.5em;
  }
}

/* layouts and spacing */
.layout {
  margin: 0 auto;
  padding: 40px 6%;
}

.padded-section {
  padding: 0 5%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.thin-section {
  max-width: 700px;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid $lightGray;
  margin-top: 30px;
  padding-bottom: 20px;
}


/* text styles */

.text-sans-serif {
  font-family: $font-sans-serif;
}

.text-light-gray {
  color: $mediumGray;
}

.text-italic {
  font-style: italic;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  width: 100%;
  background: $accentPrimary;
  opacity: 0.4;
  left: 0.3em;
  top: 30%;
  height: .7em;
  z-index: -1;
}

.topics-section {
  display: flex;
  margin-bottom: 30px;
}

.topic {
  padding: 2px 10px;
  background-color: lighten($accentPrimary, 20%);
  color: white;
  width: fit-content;
  border-radius: 3px;
  margin-right: 5px;
  font-family: $font-sans-serif;
  &:hover {
    background-color: lighten($accentPrimary, 12%);
  }
}

/* form styles */

.form-input-wrapper {
  margin: 30px 0 20px 0;
}

.form-input {
  padding: 14px 0;
  border: none;
  display: block;
  border-bottom: 2px solid $lightGray;
  font-family: $font-sans-serif;
  font-size: 18px;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.form-input-bordered {
  padding: 14px;
  border: none;
  display: block;
  border: 1px solid $mediumGray;
  font-family: $font-sans-serif;
  font-size: 18px;
  width: 100%;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

.form-label {
  font-family: $font-sans-serif;
  color: $mediumGray;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 5px 0;
}

.form-textarea-wrapper {
  margin: 20px 0;
}

.form-error {
  color: $warningText;
  font-family: $font-sans-serif;
  letter-spacing: 0.03em;
  margin: 5px 0;
}

.form-textarea-temp {
  padding: 14px 10px;
  font-family: $font-sans-serif;
  border: 2px solid $lightGray;
  font-size: 18px;
  width: 100%;
  height: 250px;
  line-height: 1.5em;
  &:focus {
    outline: none;
  }
}

.form-textarea {
  padding: 14px 10px;
  font-family: $font-sans-serif;
  border: 2px solid $lightGray;
  font-size: 18px;
  width: 100%;
  height: 250px;
  line-height: 1.5em;
  &:focus {
    outline: none;
  }
}

.form-select-wrapper {
  margin-top: 20px;
  position: relative;
  font-family: $font-sans-serif;
}

.form-select {
}

.form-select-label {
  width: 30%;
  float: left;
}

.form-button-group {
  margin: 20px 0;
}

.form-button-group-horizontal {
  margin: 20px 0;
  button {
    flex: 1;
    width: fit-content;
    margin-right: 15px;
  }
}

.corner-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: fit-content !important;
  transform: translateY(-50%);
}

.form-with-corner-button {
  position: relative;
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    width: fit-content;
    transform: translateY(-50%);
  }
  h3 {
    font-weight: 900;
  }
}

.form-button-outline {
  border: 1px solid $mediumGray;
  width: 100%;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  font-family: $font-sans-serif;
  &:hover {
    border-color: darken($mediumGray, 80%)
  }
}

.warning-button {
  &:hover {
    color: $warningText;
    border-color: $warningText;
    background-color: lighten($warningText, 30%);
  }
}

.collection-section {
  display: flex;
  flex-flow: row wrap;
}