@import "base";

.collection-page {
  img {
    width: 100%;
  }
  p {
    line-height: 1.5em;
  }
  .collection-date {
    color: $mediumGray;
    font-family: $font-sans-serif;
  }
  .topics-section {
    display: flex;
    margin-bottom: 30px;
    .topic {
      padding: 2px 10px;
      background-color: lighten($accentPrimary, 20%);
      color: white;
      border-radius: 3px;
      margin-right: 5px;
      font-family: $font-sans-serif;
      &:hover {
        background-color: lighten($accentPrimary, 12%);
      }
    }
  }
}
