@import "base";

.collection-card-wrapper {
  width: 33%;
  min-width: 300px;
  border-radius: 2px;
  position: relative;
}

.collection-card {
  padding: 0 20px 20px 20px;
  border-radius: 2px;
  margin: 20px 3%;
  border: 1px solid #ddd;
  height: 85%;
  &:hover {
    border: 1px solid $accentPrimary;
  }
  p {
    line-height: 1.5em;
  }
  .collection-date {
    color: $mediumGray;
    font-family: $font-sans-serif;
  }
}