@import "base";

.header {
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid $lightGray;
  color: $darkGray;
  .menu {
    margin-left: auto;
    display: flex;
  }
  .menu-item {
    padding: 5px 20px;
    &:hover {
      color: lighten($darkGray, 20%);
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  color: black;
}
.logo {
  height: 35px;
  margin: 15px;
}

.padded-section {
  padding: 0 5%;
  max-width: 800px;
  margin: auto;
}