@import "base";

.search-page {
  max-width: 800px;
  margin: auto;
  .result-item-user {
    border-radius: 2px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .search-row {
    display: flex;
    input {
      margin-left: 10px;
    }
  }
}