@import 'base';

.container {
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  font-family: Helvetica;
  li {
    background: #eee;
  }

  $hover-color: #f9f9f9;

  &:hover {
    background: $hover-color;
  }
}
